* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container h1 {
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
}

.container button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}